header {
  &.kg__header {
    z-index: 2;
    position: static;
    &.kg {
      &-light {
        background-color: clr(background, secondary);
      }
      &-dark {
        background-color: clr(background, primary);

        & > .kg__navbar > ul > li > a {
          color: #fff;
        }
      }
    }

    .kg__navbar {
      width: 100vw;
      padding: 24px;
      display: flex;
      transition: all 0.3s ease-in-out;
      &.kg {
        &-space__between {
          justify-content: space-between;
        }
        &-container {
          @extend %container;
        }
        &-fixed {
          position: fixed;
        }
      }

      ul {
        list-style: none;
        display: flex;
        justify-content: center;
        align-items: center;
        li a {
          text-decoration: none;
          color: #2b2b2b;
          font-size: 1em;
          font-weight: 500;
          transition: all 0.2s ease-in-out;

          &:hover {
            color: darken(clr(textcolor, default), 60%);
          }
        }
      }
    }
  }
}
