.kg__flex {
  display: map-get($display, flex);

  &-wrap {
    &-nowrap {
      flex-wrap: flex(wrap, nowrap);
    }
    &-wrap {
      flex-wrap: flex(wrap, wrap);
    }
    &-wrap_reverse {
      flex-wrap: flex(wrap, wrap_reverse);
    }
  }

  &-direction {
    &-column {
      flex-direction: flex(direction, column);
    }

    &-row {
      flex-direction: flex(direction, row);
    }

    &-row_reverse {
      flex-direction: flex(direction, row_reverse);
    }

    &-column_reverse {
      flex-direction: flex(direction, column_reverse);
    }
  }

  &.fl {
    &-jc {
      &-flex_start {
        justify-content: flex-start;
      }
      &-flex_end {
        justify-content: flex-end;
      }
      &-flex_center {
        justify-content: center;
      }
      &-space_between {
        justify-content: space-between;
      }
      &-space_around {
        justify-content: space-around;
      }
      &-space_evenly {
        justify-content: space-evenly;
      }
    }
    &-ali {
      &-flex_start {
        align-items: flex-start;
      }
      &-flex_end {
        align-items: flex-end;
      }
      &-flex_center {
        align-items: center;
      }
      &-stretch {
        align-items: stretch;
      }
      &-baseline {
        align-items: baseline;
      }
    }
    &-alc {
      &-flex_start {
        align-content: flex-start;
      }
      &-flex_end {
        align-content: flex-end;
      }
      &-flex_center {
        align-content: center;
      }
      &-stretch {
        align-content: stretch;
      }
      &-baseline {
        align-content: baseline;
      }
    }
  }

  &.gap {
      &-10{
            gap: 10px;
      }
      &-20{
            gap: 20px;
      }
      &-30{
            gap: 30px;
      }
  }
}
