$btn-primary: #da1d6c;
$btn-secondary: #156197;
$btn-tertiary: #1b9715;
$btn-quaternary: #7e920d;
$btn-quinary: #971561;


$bg-dark: #222;
$bg-dark-secondary: #2d2c2c;
$color-dark: #373737;
$color-dark-light:#8c8c8c;
$color-aliceblue: #f0f8ff;
$color-antiquewhite: #faebd7;
$color-white: #ffffff;

$primary-color: $btn-primary;
$secondary-color: $btn-secondary;
$tertiary-color: $btn-tertiary;
$quaternary-color: $btn-quaternary;
$quinary-color: $btn-quinary;

