/*Button CSS*/

%buttons {
  width: 127px;
  min-width: 100px;
  height: fit-content;

  border-radius: 29px;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-content: center;
  user-select: none;
  cursor: map-get($cursors, pointer);
  color: white;
  padding: 9px;
  -webkit-user-select: none;
  -moz-user-select: none;
  font-weight: bold;
  background: #222;
  border: 0px;
  transition: all 0.2s ease-in-out;

  @include mq(mobile) {
    padding: 7px;
  }

  &:lang(ja) {
    font-family: $font-family-japanese;
  }

  &:disabled {
    opacity: 0.5;
    cursor: map-get($cursors, not-allowed);
  }

  &:hover {
    background-color: lighten(clr(buttons, primary), 9%);
    color: white;
  }

  &.kg {
    &-no__decoration {
      text-decoration: none;
    }
    &-block {
      display: map-get($display, block);
    }

    &-inline__block {
      display: map-get($display, inline-block);
    }

    &-primary {
      background-color: clr(buttons, secondary);
      &:hover {
        background-color: lighten(clr(buttons, secondary), 9%);
      }
    }
    &-success {
      background-color: clr(buttons, success);
      &:hover {
        background-color: lighten(clr(buttons, success), 9%);
      }
    }
    &-warning {
      background-color: clr(buttons, warning);
      &:hover {
        background-color: lighten(clr(buttons, warning), 9%);
      }
    }
    &-danger {
      background-color: clr(buttons, danger);
      &:hover {
        background-color: lighten(clr(buttons, danger), 9%);
      }
    }

    &-20 {
      width: 20%;
    }

    &-30 {
      width: 30%;
    }

    &-50 {
      width: 50%;
    }

    &-100 {
      width: 100%;
    }

    &.menu {
      width: fit-content;
      flex-direction: column;
      border-radius: 0px;
    }
    &.menu span {
      display: block;
      width: 33px;
      margin-bottom: 5px;
      position: relative;

      background: #cdcdcd;
      border-radius: 3px;

      z-index: 1;

      transform-origin: 4px 0px;

      transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
        background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
    }

    &.menu span:first-child {
      transform-origin: 0% 0%;
    }

    &.menu span:nth-last-child(2) {
      transform-origin: 0% 100%;
    }
  }
}
/*Text CSS*/
%textType {
  padding: 3px;
  margin-bottom: 0px;
  &.kg {
    &-underline {
      text-decoration: underline;
      text-underline-offset: 3px;
    }
    &-primary {
      color: clr(textcolor, primary);
    }
    &-bold {
      font-weight: bold;
    }
    &-Baloo {
      font-family: $font-family-Baloo;
    }
    &-vertical {
      writing-mode: tb-rl;
    }
    &-p__0 {
      padding: 0px;
    }
    &-m__0 {
      margin: 0px;
    }
    &-uppercase {
      text-transform: uppercase;
    }
  }
  &:lang(ja) {
    font-family: $font-family-japanese;
  }
}

%container {
  &.h {
    &-100 {
      height: 100vh;
    }
  }

  &.kg {
    &-expanded {
      width: 100%;
      padding-right: 15px;
      padding-left: 15px;
      margin-right: auto;
      margin-left: auto;
    }
  }

  max-width: 100vw;
  width: 960px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
